
@{
    ViewData["Title"] = "CreateCustomers";
}

<div class="row justify-content-md-center">
    <table style=" border-collapse: separate;">
        <thead>
            <tr>
                <th>Create customer manual</th>
                <th></th>
                <th>Upload csv to create customer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a button type="button" class="btn btn-primary" asp-action="Create">Create New Customer</a>
                </td>
                <td></td>
                <td>
                    <input type="file" enctype="multipart/form-data" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="btn btn-primary" id="csvFile" asp-action="Create" value="Upload csv file">
                    <button type="button" class="btn btn-primary" onclick="submitCsv()">Submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/lib/csv-form/CsvForm.js"></script>

